<header class="bg-primary">
    <div class="navbar navbar-dark bg-primary">
        <div class="logo">
            <div class="navbar-brand align-item-center d-flex">
                <strong style="font-size: 25px;">FlipCart</strong>
            </div>
        </div>
        <div class="drop">
            <a style="color: rgb(245, 230, 230); margin-right: 15px; cursor: pointer;">Help Center</a>
            <select class="dropdown bg-primary" name="" id="">
                <option value="">Admin</option>
                <option value="">Manager</option>
                <option value="">Analyst</option>
                <option value="">Regitrar</option>
            </select>
            <select class="dropdown bg-primary" name="" id="">
                <option value="">English</option>
            </select>
            <select class="dropdown bg-primary" name="" id="">
                <option value="">My Account</option>
                <option value="">Settings</option>
            </select>
        </div>
    </div>
</header>