<header>
    <div class="scroll">
        <div class="navbar-brand align-item-center" style="width: 100%; margin-top: 15px;">
            <div class="admin">
                <h6>Hello Admin!</h6>
            </div>
        </div>
        <div class="links">
            <div class="link <!--active-->">
                <a routerLink=''>Dashboard</a>
            </div>
            <div class="link">
                <a routerLink='students'>Students</a>
            </div>
            <div class="link">
                <a routerLink='teachers'>Teachers</a>
            </div>
            <div class="link">
                <a routerLink='classes'>Classes</a>
            </div>
            <div class="link">
                <a routerLink='subjects'>Subjects</a>
            </div>
            <div class="link">
                <a routerLink='marks'>Marks</a>
            </div>
            <div class="link">
                <a>Exams</a>
            </div>
            <div class="link">
                <a>Events</a>
            </div>
        </div>
    </div>
</header>